.feed {
  min-width: fit-content;
  overflow-y: scroll;
}

/* hide scroll bar for Chrome, Safari and Opera  */
.feed::-webkit-scrollbar {
  display: none;
}
/* hide scroll bar for IE,Edge and FireFox  */
.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.feed_header {
  position: sticky;
  top: 0;
  z-index: 10;
  /* min-width: fit-content; */
}

.img-border {
  border: 10px;
  border-radius: 15px;
}
.footer__icon:hover {
  background-color: #e2e2e2;
  border-radius: 20px;
  cursor: pointer;
}
.badge:hover{
  cursor: pointer;
}
